/*  your css code here. If applicable */
#animal-photos{
	background-color: gray;
	padding: 10px;
	border-radius: 20px;
	text-align:center;
	color: white;
}
.animal{
	padding: 10px;
	border-radius: 20px;
	
}